@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;900&display=swap');

/* COLORS */
$COLOR_PURPLE: rgba(16, 2, 23, 0.9);
$COLOR_BLACK: #030B1C;
$COLOR_WHITE: #FAFAFA;
$COLOR_GRAY: #E4E8EE;